name: Docker Smoke Test 5.x
on:
  workflow_dispatch:
  push:
    branches:
      - 5.x  
  schedule:
    # run every sunday
    - cron: '0 0 * * 0'
permissions:
  contents: read
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@bea5baf987ba7aa777a8a0b4ace377a21c45c381 # tag=v3
        with:
          node-version: 18
      - name: Docker test
        run: |
            docker run -d -it --rm --name verdaccio -p 4873:4873 verdaccio/verdaccio:5.x-next
      - name: verdaccio cli 
        run:  npm install -g verdaccio --registry http://localhost:4873                        
      - name: gastby cli 
        run:  npm install -g gatsby-cli --registry http://localhost:4873
      - name: netlify cli 
        run:  npm install -g netlify-cli --registry http://localhost:4873
      - name: angular cli 
        run:  npm install -g @angular/cli --registry http://localhost:4873
